<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.ChampDao">
	<select id="champ_rank" resultType="champ_analytics">
		select * from
		champion_analytics
		where teamPosition = #{lane} and summonerTier =
		#{tier}
		order by win desc;
	</select>

	<select id="champ_match_up" resultType="champ_match_up">
		select * from
		champion_match_up
		where left_champion = #{left_champion}
		order by
		match_up_win_rate desc;
	</select>

	<select id="champ_search" resultType="String">
		select champion_en_name from
		champion_info
		where champion_kr_name = #{champion_kr_name}
	</select>
	
	<select id="champ_search_eng" resultType="String">
		SELECT CHAMPION_KR_NAME FROM
		CHAMPION_INFO
		WHERE CHAMPION_EN_NAME = #{champion_en_name}
	</select>
	
	<select id="champ_recom" resultType="champ_match_up">  
		SELECT cmu.*
		FROM champion_info ci
		JOIN champion_match_up cmu ON ci.champion_id = cmu.champion_id
		JOIN champion_info enemy_ci ON enemy_ci.champion_id = cmu.enemy_champ_id
		WHERE enemy_ci.champion_en_name = #{right_champion}
			AND cmu.team_position = #{lane}
			AND ci.champion_tag LIKE '%${tag}%'
		ORDER BY cmu.match_up_win_rate DESC
		LIMIT 5;
	</select>
	
	<select id="build_recom_spell" resultType="champ_match_up_spell">
		SELECT cms.*, left_champion.champion_kr_name AS champion_name, right_champion.champion_kr_name AS enemy_champ
		FROM champion_match_up_spell cms
		JOIN champion_info left_champion ON cms.champion_id = left_champion.champion_id
		JOIN champion_info right_champion ON cms.enemy_champ_id = right_champion.champion_id
		WHERE left_champion.champion_en_name = #{left_champion}
		AND right_champion.champion_en_name = #{right_champion}
	</select>
	
	<select id="build_recom_item" resultType="champ_match_up_item">
		SELECT cmi.*, left_champion.champion_kr_name AS champion_name, right_champion.champion_kr_name AS enemy_champ
		FROM champion_match_up_item cmi
		JOIN champion_info left_champion ON cmi.champion_id = left_champion.champion_id
		JOIN champion_info right_champion ON cmi.enemy_champ_id = right_champion.champion_id
		WHERE left_champion.champion_en_name = #{left_champion}
		AND right_champion.champion_en_name = #{right_champion}
	</select>
	
	<select id="build_recom_rune" resultType="champ_match_up_rune">
		SELECT cmr.*, left_champion.champion_kr_name AS champion_name, right_champion.champion_kr_name AS enemy_champ
		FROM champion_match_up_rune cmr
		JOIN champion_info left_champion ON cmr.champion_id = left_champion.champion_id
		JOIN champion_info right_champion ON cmr.enemy_champ_id = right_champion.champion_id
		WHERE left_champion.champion_en_name = #{left_champion}
		AND right_champion.champion_en_name = #{right_champion}
	</select>
	
	<select id="build_recom_skill" resultType="champ_match_up_skill">
		SELECT cms.*, left_champion.champion_kr_name AS champion_name, right_champion.champion_kr_name AS enemy_champ
		FROM champion_match_up_skill cms
		JOIN champion_info left_champion ON cms.champion_id = left_champion.champion_id
		JOIN champion_info right_champion ON cms.enemy_champ_id = right_champion.champion_id
		WHERE left_champion.champion_en_name = #{left_champion}
		AND right_champion.champion_en_name = #{right_champion}
	</select>
</mapper>