<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.MateDao">
	<select id="getBoardList" resultType="mate">
		SELECT mp.mate_id ,mp.email ,mp.mate_content ,mp.mate_date,mp.mate_title,m.LOL_ACCOUNT  
		FROM MATE_POST as MP JOIN (
			SELECT *
			FROM MEMBER) as M
		ON MP.EMAIL = M.EMAIL
		ORDER BY mp.mate_id  desc;
	</select>
</mapper>