<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.QuestionDao">
    <select id="select_list_all" resultType="question_post">
        select qp.question_id, qp.question_content, qp.question_title, qp.question_date, qp.status, qp.tag1, qp.tag2, mem.lol_account
        from question_post qp
            join member mem
                on mem.email = qp.email
        order by question_id desc
    </select>
    <select id="select_list_by_status" parameterType="int" resultType="question_post">
        select qp.*, m.lol_account
        from question_post qp
                 join member m on qp.email = m.email
        where status = #{status}
    </select>
    <select id="select_list_by_scrape" parameterType="String" resultType="question_post">
        select qp.*, m.lol_account
        from question_post qp
                 join question_scrape qs
                      on qp.question_id = qs.question_id
                 join member m on qp.email = m.email
        where qs.email = #{email}
        order by question_id desc
    </select>
    <select id="select_list_by_email" parameterType="String" resultType="question_post">
        select qp.*, mem.lol_account
        from question_post qp
                 join member mem
                      on mem.email = qp.email
                 join question_scrape qs on qp.question_id = qs.question_id
        where qp.email = #{email}
        order by question_id desc
    </select>
    <insert id="write_question" parameterType="question_post">
        insert into question_post(question_id, question_content, question_title, question_date, email, status, tag1, tag2)
        value (null, #{question_content}, #{question_title}, CURRENT_TIMESTAMP(), #{email}, 0, #{tag1}, #{tag2})
    </insert>
    <insert id="write_answer" parameterType="answer">
        insert into question_answer(answer_id, answer_content, answer_date, question_id, answerer_id, answer_status)
        values (null, #{answer_content}, CURRENT_TIMESTAMP(), #{question_id}, #{answerer_id}, 0)
    </insert>
    <select id="select_answer" parameterType="int" resultType="answer">
        select qa.answer_content, qa.answer_date, qa.answerer_id, qa.answer_status, mem.lol_account
        from question_answer qa
                 join member mem
                      on mem.email = qa.answerer_id
        where question_id = #{question_id}
    </select>
    <update id="update_question_status" parameterType="int">
        update question_post
        set status = 1
        where question_id = #{question_id}
    </update>
    <insert id="my_scrape" parameterType="scrape">
        insert into question_scrape(question_id, email)
        values(#{question_id}, #{email})
    </insert>
</mapper>