<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.Summoner_dao">
	<select id="get_summoer_rank" resultType="summoner">
		SELECT
		si.profile_icon_id,
		si.summoner_name,
		si.tier,
		si.lp,
		si.s_level,
		sr.most_champ_name1,
		sr.most_champ_name2,
		sr.most_champ_name3,
		si.winrate,
		si.ranking,
		sr.main_lane,
		si.wins,
		si.lose,
		si.games
		FROM
		summoner_info si
		JOIN summoner_ranking sr ON
		si.summoner_name = sr.summoner_name
		ORDER BY
		si.lp DESC;
	</select>

	<select id="get_summoer_solo" resultType="List">
		SELECT DISTINCT
		si.profile_icon_id,
		si.summoner_name,
		si.tier,
		si.lp,
		si.s_level,
		sr.most_champ_name1,
		sr.most_champ_name2,
		sr.most_champ_name3,
		si.winrate,
		sr.main_lane
		FROM
		SUMMONER_INFO si
		JOIN SUMMONER_RANKING sr ON
		si.summoner_name = sr.summoner_name
		JOIN RECORD r ON si.summoner_name =
		r.summoner_name
		WHERE
		r.game_mode = 'solo_rank'
		ORDER BY
		si.lp DESC;
	</select>

	<select id="get_summoner_flex" resultType="List">
		SELECT DISTINCT
		si.profile_icon_id,
		si.summoner_name,
		si.tier,
		si.lp,
		si.s_level,
		sr.most_champ_name1,
		sr.most_champ_name2,
		sr.most_champ_name3,
		si.winrate,
		sr.main_lane
		FROM
		SUMMONER_INFO si
		JOIN SUMMONER_RANKING sr ON si.summoner_name = sr.summoner_name
		JOIN RECORD r ON si.summoner_name = r.summoner_name
		WHERE
		r.game_mode = 'flex_rank'
		ORDER BY
		si.lp DESC;
	</select>

	<select id="get_summoner_level" resultType="List">
		SELECT DISTINCT
		si.profile_icon_id,
		si.summoner_name,
		si.tier,
		si.lp,
		si.s_level,
		sr.most_champ_name1,
		sr.most_champ_name2,
		sr.most_champ_name3,
		si.winrate,
		sr.main_lane
		FROM
		SUMMONER_INFO si
		JOIN SUMMONER_RANKING sr ON
		si.summoner_name = sr.summoner_name
		ORDER BY
		si.s_level DESC;
	</select>
	
	<select id="get_summoner_info" resultType = "List">
		SELECT * FROM
		SUMMONER_INFO
		WHERE summoner_name = ${summoner_name}
	</select>
	
	<select id="get_renewal_info" resultType = "List">
		SELECT * FROM
		SUMMONER_INFO
		WHERE summoner_name = ${summoner_name}
	</select>

</mapper>