<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<!-- 알리아스 양식 -->
    <typeAliases>
		<!-- <typeAlias type="com.board.icia.dto.MemberDto" alias="member"/> -->
		<!-- <typeAlias type="com.board.icia.dto.BoardDto" alias="board"/> -->
		<package name="com.test.project.dto" />
    	<package name="com.ld.gg.dto" />
    </typeAliases>
</configuration>