<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ld.gg.dao.mentoringdao.MentiDAO">

<select id="recom_mentor" resultType="mentorProfile" parameterType="String">
	SELECT mp.mentor_email, mp.about_mentor, mp.specialized_position, mp.specialized_champion, mp.contact_time, mp.careers, mp.recom_ment
	FROM mentor_profile AS mp
	JOIN mentor_tag AS mt ON mp.mentor_email = mt.mentor_email
	WHERE mt.tag_id IN (SELECT tag_id FROM menti_tag WHERE menti_email = #{menti_email})
	GROUP BY mp.mentor_email
	HAVING COUNT(DISTINCT mt.tag_id) >= 2
	ORDER BY COUNT(DISTINCT mt.tag_id) desc
	LIMIT 5;
</select>

<select id="select_all_custom_mentor" resultType="customMentor">
  SELECT * FROM custom_mentor;
</select>

<select id="select_by_email_custom_mentor" resultType="customMentor">
  SELECT * FROM custom_mentor WHERE menti_email = #{menti_email};
</select>

<insert id="insert_custom_mentor" parameterType="customMentor">
  INSERT INTO custom_mentor (menti_email, summoner_name, position_to_learn, champion_to_learn, target_tier, own_goal) 
  VALUES (#{menti_email},#{summoner_name},#{position_to_learn},#{champion_to_learn},#{target_tier},#{own_goal});
</insert>

<update id="update_custom_mentor" parameterType="customMentor">
  UPDATE custom_mentor SET position_to_learn = #{position_to_learn},
  champion_to_learn = #{champion_to_learn}, target_tier = #{target_tier},
  own_goal = #{own_goal} WHERE menti_email = #{menti_email};
</update>

<delete id="delete_custom_mentor" parameterType="String">
  DELETE FROM custom_mentor WHERE menti_email = #{menti_email};
</delete>



</mapper>